.admin-login-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f4f6f8;
}

/* HEADER */
.admin-header {
  height: 60px;
  background: #1e293b;
  color: #fff;
  display: flex;
  align-items: center;
  padding-left: 30px;
  font-size: 20px;
  font-weight: bold;
}

/* BODY */
.admin-login-container {
  flex: 1;
  display: flex;
}

/* LEFT SIDE */
.admin-login-left {
  width: 50%;
  background: #000;
}

.admin-login-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* RIGHT SIDE */
.admin-login-right {
  width: 50%;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
}

.admin-login-right h2 {
  margin-bottom: 20px;
  color: #1e293b;
}

.admin-login-right input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.admin-login-right button {
  padding: 12px;
  background: #1e293b;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.admin-login-right button:hover {
  background: #334155;
}

.error {
  color: red;
  margin-bottom: 10px;
}